<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-light rounded">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
    </div>



    <div class="p-4">
      <h4 class="fst-italic">Resources</h4>
      <ol class="list-unstyled">
        <li><a href="https://en.wikipedia.org/wiki/Password">Wikipedia Passwords</a></li>
        <li><a href="https://www.digitalinformationworld.com/2020/05/what-comes-after-passwords-infographic.html">Password Information</a></li>
        <li><a href="https://www.security.org/how-secure-is-my-password/">Security.org</a></li>
        <li><a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">Udemy Course</a></li>
        <li><a href="https://www.wired.com/story/under-armour-myfitnesspal-hack-password-hashing/">Under Armour Hack</a></li>
        <li><a href="https://phys.org/news/2019-03-facebook-passwords-plain-text.html">Facebook Vulnerability</a></li>
        <li><a href="https://arstechnica.com/information-technology/2016/06/how-linkedins-password-sloppiness-hurts-us-all/">LinkedIn Attack</a></li>



      </ol>
    </div>
  </div>
</div>
