<%- include('../partials/header') %>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h2 class="blog-post-title">How to Improve Your Password</h2>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">

      <article class="blog-post">
        <p class="blog-post-meta">November 24, 2021 by <a href="#">Carter Caldwell</a></p>

        <p>There is no magic answer to the correct password. However, if you use some of the following tips, your accounts and information will be much less vulnerable to an attack. Before we dive into how to improve your password, take a look at the following table to make sure you are not using any of the following passwords. If you are, please change them to something better immediately. Your accounts have likely already been hacked. </p>
        <img src="/images/commonpasswords.png" alt="" style="width:900px;height:300px;">

        <hr>
        <p>Now, if you made it through without your password being on the above table, test out how strong your password is with the following link. Do not worry, the website will not steal your password. </p>
        <a href="https://www.security.org/how-secure-is-my-password/">https://www.security.org/how-secure-is-my-password</a>
        <br>
        <br>
        <h3>Tips & Tricks</h3>
        <p>If it does not take years to crack your password, you should consider making it stronger using some of these tips: </p>
        <ul>
          <li>Make it longer!</li>
          <ul>
            <li>Making your password longer increases the time to crack exponentially. This is the reason most websites require you to have a password of at least 8 characters. </li>
          </ul>
          <br>
          <li>Use different symbols and numbers. </li>
          <ul>
            <li>Adding these two things to your password will make it infinitely harder to guess since you are adding </li>
          </ul>
          <br>
          <li>Use different passwords between websites</li>
          <ul>
            <li>Even if your password does end up compromised on one website, you don’t want the attacker to be able to gain access to your accounts everywhere using the same password. By changing your password between websites, you are mitigating risk of giving the attacker access to everything you have. </li>
          </ul>
          <br>
          <li>Try to change passwords every so often</li>
          <ul>
            <li>Like using different passwords, changing your password will expose you to less risk of being hacked. </li>
          </ul>
        </ul>
  </article>


    </div>

    <%- include('../partials/sidebar') %>

  </div>

</main>

<%- include('../partials/footer') %>




  </body>
</html>
